.block.block_business_features
  .block_centered
    .features_list
      .features_list__item
        .features_list__item__icon.features_list__item__icon_man
        .features_list__item__title Охват <br /> пользователей
        .features_list__item__descr.
          Пользуясь нашим сервисом,<br />
          вы сможете охватить большой<br />
          объем разнообразной аудитории.<br />
          В реальном времени, без ботов<br />
          и "мертвых" пользователей.
      .features_list__item
        .features_list__item__icon.features_list__item__icon_mouthpiece
        .features_list__item__title Нативность <br /> вашей рекламы
        .features_list__item__descr.
          И как следствие, более высокая<br />
          лояльность к вашему продукту.<br />
          Наша реклама не раздражает<br />
          пользователей, выдавая только<br />
          актуальные материалы, органично<br />
          вписывающиеся в контекст<br />
          приложения.
      .features_list__item
        .features_list__item__icon.features_list__item__icon_stat
        .features_list__item__title Сбор и анализ <br /> данных
        .features_list__item__descr.
          В реальном времени вы сможете<br />
          проанализировать любую из ваших<br />
          аудиторий, отсортировав наиболее<br />
          релевантную. Вам не потребуются<br />
          глубокие знания аналитических<br />
          инструментов. Достаточно просто<br />
          взглянуть на наши графики<br />
          в вашем личном кабинете.

    .business__mockup
      .features_list
        .features_list__item
          .features_list__item__icon.features_list__item__icon_usd
          .features_list__item__title Экономия <br /> на рекламе
          .features_list__item__descr.
            Наш инструмент не требует сторонней<br />
            помощи. Вы оплачиваете только<br />
            конкретные действия. Отслеживайте<br />
            в реальном времени конверсию,<br />
            а затем, корректируйте трафик<br />
            и вы будете получать лидов<br />
            вдвое дешевле.
        .features_list__item
          .features_list__item__icon.features_list__item__icon_tie
          .features_list__item__title Тренд
          .features_list__item__descr.
            Новая ниша, как следствие, еще<br />
            не заполнена конкурентами.<br />
            Получайте выгодный трафик<br />
            одним из первых. Инновации<br />
            будут привлекать к вам больше<br />
            внимания и выгодно возвышать<br />
            вас над конкурентами.
        .features_list__item
          .features_list__item__icon.features_list__item__icon_bicycle
          .features_list__item__title Легко <br /> и понятно
          .features_list__item__descr.
            Наш интерфейс настолько прост, что вы<br />
            в любой момент сможете настроить<br />
            новую рекламную кампанию или место.<br />
            Вам не придется тратить время<br />
            на изучение нового канала или поиска<br />
            специалистов. Включили - пользуйтесь.<br />
            Легкость в использовании - одно из<br />
            основных наших правил

.block.block_business_how-to-partner
  .block_centered
    .how-to-partner__steps
      .how-to-partner__step.how-to-partner__step_active
        span 3 простых шага стать партнёром Heloo
      .how-to-partner__step.how-to-partner__step
        span Как работает сервис Heloo?
      .how-to-partner__step.how-to-partner__step
        span Как работает iBeacon?

  .how-to-partner__wrapper
    .block_centered
      h1 3 простых шага стать партнёром Heloo
      .how-to-partner__arrow.how-to-partner__arrow_prev
      .how-to-partner__arrow.how-to-partner__arrow_next
      .how-to-partner__slides
        .how-to-partner__slide
          img(src="/business/slider/1.png")
          .how-to-partner__slide1__title.how-to-partner__slide1__title_1.
            Заполните все поля<br />
            регистрации на нашем сайте
          .how-to-partner__slide1__title.how-to-partner__slide1__title_2.
            Получите в подарок<br />
            iBeacon маячок и доступ<br />
            к личному кабинету
          .how-to-partner__slide1__title.how-to-partner__slide1__title_3.
            Настраивайте профиль заведения<br />
            и следите за статистикой в Вашем<br />
            личном кабинете. А команда Heloo<br />
            предоставит 24ч. техподдержку
