.block.block_press_intro.block_press_intro_about
  .block_centered
    include ../.././../Heloo/subModules/Header/header.jade
    .block_press_intro__title
      h1 Скажи Heloo своим клиентам
      p.
        Сервис Heloo - это риложение, позволяющее находить<br />
        интересных людей и места,а также общаться,чекиниться,<br />
        оставлять отзывы и быть в курсе актуальных событий.<br /><br />
        Включите Bluetooth и будьте в курсе всего самого интересного вокруг!
