.block.block_tariffs
  .block_centered
    h1.heading_default Тарифы
    .pricetable
      .pricetable__features
        .pricetable__features__line
          .pricetable__features__line__title
            | Доступ в личный кабинет с общей статистикой
            a(href="#").pricetable__features__line__button Узнать больше
        .pricetable__features__line
          .pricetable__features__line__title
            | Возможность настраивать профиль
            a(href="#").pricetable__features__line__button Узнать больше
        .pricetable__features__line
          .pricetable__features__line__title
            | Техническая поддержка 24/7
            a(href="#").pricetable__features__line__button Узнать больше
        .pricetable__features__line
          .pricetable__features__line__title
            | iBeacon-маячок
            a(href="#").pricetable__features__line__button Узнать больше
        .pricetable__features__line
          .pricetable__features__line__title
            | Доступ к статистике с маяка
            a(href="#").pricetable__features__line__button Узнать больше
        .pricetable__features__line
          .pricetable__features__line__title
            | Профиль показан в опции “Вокруг”
            a(href="#").pricetable__features__line__button Узнать больше
        .pricetable__features__line
          .pricetable__features__line__title
            | Возможность настраивать push-уведомления
            a(href="#").pricetable__features__line__button Узнать больше
      .pricetable__table
        .pricetable__table__row.pricetable__table__row_free
          .pricetable__table__row__title Бесплатный
          .pricetable__table__row__descr &nbsp;
          div
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_nonexists
            .pricetable__table__row__line.pricetable__table__row__line_nonexists
            .pricetable__table__row__line.pricetable__table__row__line_nonexists
            .pricetable__table__row__line.pricetable__table__row__line_nonexists
          a.button_default.pricetable__button(href="#") Выбрать
        .pricetable__table__row.pricetable__table__row_paid
          .pricetable__table__row__title Бизнес
          .pricetable__table__row__descr 4999 Р /  6 месяцев
          div
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
            .pricetable__table__row__line.pricetable__table__row__line_exists
          a.button_default.pricetable__button(href="#") Выбрать
