/* @mixin clearfix {} */
@define-mixin clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

/* @mixin mobile {} */
@define-mixin mobile $root: 0 {
  @if $root == root {
    .wrapper_small {
      @mixin-content;
    }
  } @else {
    .wrapper_small & {
      @mixin-content;
    }
  }
}
