@each $type in Regular, "" {
  @font-face {
    font-family: "Sansation";
    src: url("./fonts/Sansation/$(type)/Sansation$(type).eot");
    src: url("./fonts/Sansation/$(type)/Sansation$(type).eot?#iefix") format("embedded-opentype"),
    url("./fonts/Sansation/$(type)/Sansation$(type).woff") format("woff"),
    url("./fonts/Sansation/$(type)/Sansation$(type).ttf") format("truetype");

    @if $type == Regular {
      font-style: normal;
      font-weight: 400;
    }
  }
}
