.block.block_press_intro.block_press_intro_about
  include ../.././../Heloo/subModules/Header/header.jade
  .block_centered
    .block_press_intro__title
      h1 Пресса
      p.
        Наша команда полностью нацелена<br />
        на разработку и улучшение действующих<br />
        продуктов. Мы стараемся для Вас!
