.block.block_press_downloads(ng-if="!breakpoint")
  .block_centered
    .downloads
      .downloads__item
        .downloads__item__icon.downloads__item__icon_media
        p Наши медиа-ресурсы здесь:
        a.downloads__item__link(href="#") Скачать

      .downloads__item
        .downloads__item__icon.downloads__item__icon_press
        p Пресс-релизы:
        a.downloads__item__link(href="#") Скачать
