.block.block_benefits
  .block_benefits__wrapper
    .block_benefit
      .block_benefit__arrows
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
        .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
      .block__descr.block__descr_white.block__descr_benefit
        p.
          Heloo покажет пользователей и места в радиусе 100 м<br />
          и предоставит актуальную информацию о ближайших заведениях.
    .block_benefit
      .block_benefit__arrows
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
        .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
      .block__descr.block__descr_white.block__descr_benefit
        p.
          Heloo покажет пользователей и места в радиусе 100 м<br />
          и предоставит актуальную информацию о ближайших заведениях.
    .block_benefit
      .block_benefit__arrows
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
        .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
      .block__descr.block__descr_white.block__descr_benefit
        p.
          Heloo покажет пользователей и места в радиусе 100 м<br />
          и предоставит актуальную информацию о ближайших заведениях.
    .block_benefit
      .block_benefit__arrows
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
        .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
        .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
      .block__descr.block__descr_white.block__descr_benefit
        p.
          Heloo покажет пользователей и места в радиусе 100 м<br />
          и предоставит актуальную информацию о ближайших заведениях.
  .block_benefits__mockup
    img(src="/home/benefits/1.png")
    img(src="/home/benefits/2.png")
    img(src="/home/benefits/1.png")
    img(src="/home/benefits/2.png")
