.block.block_business
  .block_centered
    h1 Heloo для бизнеса
    hr.header-devider
    .block__descr
      p.
        Сервис Heloo - это инновационный метод привлечения новых<br />
        и удержания старых клиентов с помощью iBeacons технологий.
    .block_business__benefits
      .block_business__benefits__mockup
      .block_business__benefits__items
        .block_business__benefits__items__item
          .block_business__benefits__items__item__title.block_business__benefits__items__item__title_ibeacons IBeacons
          .block_business__benefits__items__item__descr
            p.
              Это миниатюрные датчики, которые уведомляют<br />
              пользователей в радиусе 100 м.
            p.
              Мы бесплатно предоставляем Вам один<br />
              iBeacons-маячок, чтобы пользователи Heloo узнали<br />
              о Вашем заведении.
        .block_business__benefits__items__item
          .block_business__benefits__items__item__title.block_business__benefits__items__item__title_stat Статистика
          .block_business__benefits__items__item__descr
            p.
              Оцените успешность проводимых рекламных<br />
              и маркетинговых кампаний и управляйте<br />
              накопленными данными о посетителях.
        .block_business__benefits__items__item
          .block_business__benefits__items__item__title.block_business__benefits__items__item__title_realtime
            | РЕЖИМ РЕАЛЬНОГО ВРЕМЕНИ
          .block_business__benefits__items__item__descr
            p.
              Heloo мгновенно оповестит клиентов в локальной<br />
              зоне о внесенных изменениях в профиле заведения,<br />
              добавленных фото, уведомлениях о мероприятиях<br />
              и актуальных скидках.
