.block.block_say-heloo
  .block_centered
    h1 Скажи Heloo своим клиентам!
    .block_say-heloo__descr.
      Станьте партнером Heloo и оцените<br />
      все возможности нашего сервиса
    a.button.button_white(href="#") Узнать больше
    a.button.button_white(href="#") Регистрация
