.page-content.page_home
  .block.block_intro(ng-if="!$root.breakpoint")
    .block_centered
      include ../../Heloo/subModules/Header/header.jade
      .block_intro__content
        h1.block_intro__heading_1 Скажи Heloo возможностям!
        h2.block_intro__heading_2 Они ближе, чем ты думаешь
        .mobile-apps.mobile-apps_centered
          a(href="#")
            img(src="/apps/android.png")
          a(href="#")
            img(src="/apps/ios.png")
        .block_intro__mockup
          img(src="/home/mockup.png")
        .block__descr.block__descr_large
          p.
            Приложение, позволяющее находить интересных людей и места,<br />
            а также общаться,чекиниться, оставлять отзывы и быть в курсе актуальных событий.<br />
            Включите Bluetooth и будьте в курсе всего самого интересного вокруг!

  .block.block_benefits(ng-if="!$root.breakpoint")
    .block_benefits__wrapper
      .block_benefit
        .block_benefit__arrows
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
          .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
        .block__descr.block__descr_white.block__descr_benefit
          p.
            Heloo покажет пользователей и места в радиусе 100 м<br />
            и предоставит актуальную информацию о ближайших заведениях.
      .block_benefit
        .block_benefit__arrows
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
          .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
        .block__descr.block__descr_white.block__descr_benefit
          p.
            Heloo покажет пользователей и места в радиусе 100 м<br />
            и предоставит актуальную информацию о ближайших заведениях.
      .block_benefit
        .block_benefit__arrows
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
          .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
        .block__descr.block__descr_white.block__descr_benefit
          p.
            Heloo покажет пользователей и места в радиусе 100 м<br />
            и предоставит актуальную информацию о ближайших заведениях.
      .block_benefit
        .block_benefit__arrows
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
          .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
          .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
        .block__descr.block__descr_white.block__descr_benefit
          p.
            Heloo покажет пользователей и места в радиусе 100 м<br />
            и предоставит актуальную информацию о ближайших заведениях.

    .block_benefits__mockup
      img(src="/home/benefits/1.png")
      img(src="/home/benefits/2.png")
      img(src="/home/benefits/1.png")
      img(src="/home/benefits/2.png")

  .block.block_mobile.block_mobile_intro(ng-if="$root.breakpoint")
    include ../../Heloo/subModules/Header/header.jade
    div.block_mobile_intro__offset
    a(href="#")
      img(src="/logo_big.png")
    h1.block_mobile_intro__heading_1 Скажи Heloo возможностям!
    h2.block_mobile_intro__heading_2 Они ближе, чем ты думаешь
    .mobile-apps.mobile-apps_centered
      a(href="#")
        img(src="/apps/android_big.png")
      a(href="#")
        img(src="/apps/ios_big.png")
    .block__descr.block__descr_large.block__descr_covered
      p.
        Приложение, позволяющее находить интересных людей и места,
        а также общаться,чекиниться, оставлять отзывы и быть в курсе актуальных событий.
        Включите Bluetooth и будьте в курсе всего самого интересного вокруг!
    .block.block_benefits
      .block_benefits__wrapper
        .block_benefit
          .block_benefit__arrows
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
            .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
          .block__descr.block__descr_white.block__descr_benefit
            p.
              Heloo покажет пользователей и места в радиусе 100 м<br />
              и предоставит актуальную информацию о ближайших заведениях.
        .block_benefit
          .block_benefit__arrows
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
            .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
          .block__descr.block__descr_white.block__descr_benefit
            p.
              Heloo покажет пользователей и места в радиусе 100 м<br />
              и предоставит актуальную информацию о ближайших заведениях.
        .block_benefit
          .block_benefit__arrows
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
            .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
          .block__descr.block__descr_white.block__descr_benefit
            p.
              Heloo покажет пользователей и места в радиусе 100 м<br />
              и предоставит актуальную информацию о ближайших заведениях.
        .block_benefit
          .block_benefit__arrows
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_prev
            .block_benefit__arrows__title.block_benefit__arrows__title_around Вокруг
            .block_benefit__arrows__arrow.block_benefit__arrows__arrow_next
          .block__descr.block__descr_white.block__descr_benefit
            p.
              Heloo покажет пользователей и места в радиусе 100 м<br />
              и предоставит актуальную информацию о ближайших заведениях.

      .block_benefits__mockup
        img(src="/home/benefits/1.png")
        img(src="/home/benefits/2.png")
        img(src="/home/benefits/1.png")
        img(src="/home/benefits/2.png")

  .block.block_business
    h1 Heloo для бизнеса
    hr.header-devider
    .block__descr
      p.
        Сервис Heloo - это инновационный метод привлечения новых<br />
        и удержания старых клиентов с помощью iBeacons технологий.
    .block_business__benefits
      .block_business__benefits__mockup
      .block_business__benefits__items
        .block_business__benefits__items__item
          .block_business__benefits__items__item__title.block_business__benefits__items__item__title_ibeacons IBeacons
          .block_business__benefits__items__item__descr
            p.
              Это миниатюрные датчики, которые уведомляют<br />
              пользователей в радиусе 100 м.
            p.
              Мы бесплатно предоставляем Вам один<br />
              iBeacons-маячок, чтобы пользователи Heloo узнали<br />
              о Вашем заведении.
        .block_business__benefits__items__item
          .block_business__benefits__items__item__title.block_business__benefits__items__item__title_stat Статистика
          .block_business__benefits__items__item__descr
            p.
              Оцените успешность проводимых рекламных<br />
              и маркетинговых кампаний и управляйте<br />
              накопленными данными о посетителях.
        .block_business__benefits__items__item
          .block_business__benefits__items__item__title.block_business__benefits__items__item__title_realtime
            | РЕЖИМ РЕАЛЬНОГО ВРЕМЕНИ
          .block_business__benefits__items__item__descr
            p.
              Heloo мгновенно оповестит клиентов в локальной<br />
              зоне о внесенных изменениях в профиле заведения,<br />
              добавленных фото, уведомлениях о мероприятиях<br />
              и актуальных скидках.

  .block.block_say-heloo
    .block_centered
      h1 Скажи Heloo своим клиентам!
      .block_say-heloo__descr.
        Станьте партнером Heloo и оцените<br />
        все возможности нашего сервиса
      a.button.button_white(href="#") Узнать больше
      a.button.button_white(href="#") Регистрация
