.page-content.page_home
  include ./blocks/intro.jade

  div(ng-if="!$root.breakpoint")
    include ./blocks/benefits.jade

  .block.block_mobile.block_mobile_intro(ng-if="$root.breakpoint")
    include ../../Heloo/subModules/Header/header.jade
    div.block_mobile_intro__offset
    a(href="#")
      img(src="/logo_big.png")
    h1.block_mobile_intro__heading_1 Скажи Heloo возможностям!
    h2.block_mobile_intro__heading_2 Они ближе, чем ты думаешь
    .mobile-apps.mobile-apps_centered
      a(href="#")
        img(src="/apps/android_big.png")
      a(href="#")
        img(src="/apps/ios_big.png")
    .block__descr.block__descr_large.block__descr_covered
      p.
        Приложение, позволяющее находить интересных людей и места,
        а также общаться,чекиниться, оставлять отзывы и быть в курсе актуальных событий.
        Включите Bluetooth и будьте в курсе всего самого интересного вокруг!
    include ./blocks/benefits.jade
  include ./blocks/business.jade
  include ./blocks/say-heloo.jade
