footer.block_footer.block_centered
  .block_footer__form-wrapper
    .block_descr
      p Присоединяйтесь к пользователям Heloo!
    .block_footer__form
      input.block_footer__form__field(type="text", placeholder="Ваш E-mail")
      input.block_footer__form__submit(type="submit", value="Присоединиться")
  .block_footer__copy
    .block_footer__logo
      a(href="#")
        img(src="/logo.png")
    .block_footer__copy__text (с) 2016 Heloo app
    .block_footer__social
      a.block_footer__social_icon.block_footer__social_icon_vk(href="#")
      a.block_footer__social_icon.block_footer__social_icon_fb(href="#")
      a.block_footer__social_icon.block_footer__social_icon_inst(href="#")
